@model BookishDotnetMvc.Models.Copy

@{
    ViewData["Title"] = "Add Loan";
}

<h1>AddLoan</h1>

<h4>Loans</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

